{% load static %}
<html>
    <head>
        <title>Formulario de Validacion</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <div class="container-fluid">

            <div class="row" style="margin-top: 50px; margin-left: 500px">
                <h1>Formulario de Validacion</h1>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4" style="margin-top: 50px;">
                    <form class="row g-3 needs-validation" novalidate="">
                    <div class="col-md-12">
                      <label for="validationCustom01" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre</font></font></label>
                      <input type="text" class="form-control" id="validationCustom01" value="Ingrese nombre completo" required="">
                      <div class="valid-feedback">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="validationCustom02" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Apellido</font></font></label>
                      <input type="text" class="form-control" id="validationCustom02" value="Apellido" required="">
                      <div class="valid-feedback">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="validationCustomUsername" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Correo electronico</font></font></label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="" value="Ejemplo@gmail.com">
                        <div class="invalid-feedback">
                        </div>
                        </div>
                    </div>
                    <div class="col-12" >
                      <button class="btn btn-primary" style="margin-top: 30px; margin-left: 15px;"  type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar formulario</font></font></button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </body>
</html>