
{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script>

<div class="col-md-8 col-md-offset-2">
    <table class="table table-striped" style="margin-top: 30px">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
              </tr>
        </thead>
        <tbody>
            {% for p in personas %}

            <tr>
                <td>{{p.nombre}}</td>
                <td>{{p.apellido}}</td>
                <td>{{p.correo}}</td>
            </tr>

            {% endfor %}
    
        </tbody>
      </table>
    </div>